$pc: 767px; // PCの最小
$tab: 359px;
@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (min-width: ($tab)) {
    @content;
  }
}
// ============================
// カラーリング
// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
$back_color: #fff;
$back_opacity: 0.93;
$point_color: #8F8F8F;
$font_color: #141412;
$darken: 12%;
// ============================
// サイズ
// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
$font_size_M: 15px;
$list_height_M: 75px;
$list_letterSpace_M: 1.5px;
$header_height: 93px;
