@import "./application.scss";
// ================================
// ヘッダー
// ================================
header {
  position: fixed;
  top: 0px;
  max-height: $header_height;
  z-index: 999;
  width: 100%;
  padding-top: 4px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  top: -100px;
  padding-bottom: 4px;
  font-family: "Montserrat", sans-serif;
  &.sticky {
    background-color: rgba($back_color, $back_opacity);
    opacity: 1;
    top: 0px;

  }
  .head-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      margin: 5px;
      width: 240px;
      font-weight: normal;
      padding: 10px 0;
      img {
        width: 100%;
      }
    }
  }
}
// ================================
// ハンバーガーメニューのアニメーション
// ================================
.js-click-animation {
  position: relative;
  width: 50px;
  height: 44px;
  margin: 20px;
  span {
    transition: all .4s;
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 4px;
    background-color: $point_color;
    &:nth-of-type(1) {
      top: 0;
    }
    &:nth-of-type(2) {
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
    &:nth-of-type(3) {
      bottom: 0;
    }
  }
  &.active span {
    &:nth-of-type(1) {
      transform: translateY(20px) rotate(-315deg) scale(.8);
    }
    &:nth-of-type(2) {
      width: 60px;
      height: 60px;
      background-color: transparent;
      border: 4px solid $point_color;
      border-radius: 50%;
    }
    &:nth-of-type(3) {
      transform: translateY(-20px) rotate(315deg) scale(.8);
    }
  }
}
@include tab {
  .h1 {
    width: 230px;
  }
}
@include pc {
  .h1 {
    margin: 5px;
  }
  .js-click-animation {
    display: none;
  }
}
// ================================
// アコーディオンメニュー
// ================================
.home-menu-container{
  width: 100%;
  position: fixed;
  top: $header_height;
  z-index: 80;
  transition: all 1.2s;
  background-color: rgba($back_color, $back_opacity);
  max-height: 0px;
  overflow: hidden;
  &.open {
    max-height: 450px;
  }
  .home-menu-item {
    height: $list_height_M;
    display: flex;
    justify-content: center;
    border-top: #999 solid 1px;
    &:hover {
      background-color: darken($back_color, $darken);
    }
    &:last-of-type {
      border-bottom: #999 solid 1px;
    }
    a {
      width: 100%;
      letter-spacing: $list_letterSpace_M;
      color: $font_color;
      font-size: $font_size_M;
      text-align: center;
      padding-top: $list_height_M / 2 - ($font_size_M / 2);
    }
    // ================================
    // ホバーアニメーション
    // ================================
    &::before,
    &::after {
      position: absolute;
      z-index: -1;
      display: block;
      content: '';
    }
    &,
    &::before,
    &::after {
      -webkit-transition: all .4s;
      transition: all .4s;
    }
  }
}

// ボディタグ
.logo {
  width: 50px;
  font-size: 25px;
  color: #8f8f8f;
  text-transform: uppercase;
  float: left;
  display: block;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 10px;
}

@media only screen and (max-width: 766px) {
  .logo {
    float: none;
  }
}

.row {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  padding: 0 2%;
}


body {
  color: #8f8f8f;
  background: white;
  font-family: "Cardo", serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 30px;
  line-height: 1.8;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
p {
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 2;
}

.content {
  padding: 50px 2% 250px;
}

.hero {
  position: relative;
  background: url(/images/home_top_slide1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding-top: 110px;
  min-height: 500px;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  h1 {
    font-size: 50px;
    line-height: 1.3;
    span {
      font-size: 25px;
      color: #e8f380;
      border-bottom: 2px solid #e8f380;
      padding-bottom: 12px;
      line-height: 3;
    }
  }
}
.mouse {
  display: block;
  margin: 0 auto;
  width: 26px;
  height: 46px;
  border-radius: 13px;
  border: 2px solid #e8f380;
  position: absolute;
  bottom: 40px;
  position: absolute;
  left: 50%;
  margin-left: -26px;
  span {
    display: block;
    margin: 6px auto;
    width: 2px;
    height: 2px;
    border-radius: 4px;
    background: #e8f380;
    border: 1px solid transparent;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
    animation-name: scroll;
  }
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}
