@import "./application.scss";
.head-container {
  max-width: 1080px;
  height: 93px;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    margin: 5px;
    width: 240px;
    font-weight: normal;
    padding: 10px 0;
    img {
      width: 100%;
    }
  }
  .js-click-animation {
    position: relative;
    width: 50px;
    height: 44px;
    margin: 20px;
    span {
      transition: all .4s;
      position: absolute;
      width: 100%;
      height: 5px;
      border-radius: 4px;
      background-color: #333;
      &:nth-of-type(1) {
        top: 0;
      }
      &:nth-of-type(2) {
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
      }
      &:nth-of-type(3) {
        bottom: 0;
      }
    }
    &.active span {
      &:nth-of-type(1) {
        transform: translateY(20px) rotate(-315deg) scale(.8);
      }
      &:nth-of-type(2) {
        width: 60px;
        height: 60px;
        background-color: transparent;
        border: 4px solid #333;
        border-radius: 50%;
      }
      &:nth-of-type(3) {
        transform: translateY(-20px) rotate(315deg) scale(.8);
      }
    }
  }
  @include tab {
    .h1 {
      width: 230px;
    }
  }
  @include pc {
    .h1 {
      margin: 5px;
    }
    .js-click-animation {
      display: none;
    }
  }
  .home-menu {
    width: 100%;
    background-color: #333;
    li{
      height: 30px;
      display: inline-block;
      background-color: #333;
      display: flex;
      justify-content: center;
      a {
        text-align: center;
        background-color: #333;
      }
    }
  }
}
.home-menu{
  background-color: $back_color_base;
  width: 100%;
  height: $list_height_M;
  border-top: #999 solid 1px;
  &:hover{
    background-color: $back_colorHover_base;
  }
  &:last-of-type {
    border-bottom: #999 solid 1px;
  }
  a {
    letter-spacing: $list_letterSpace_M;
    color: $font_color_base;
    font-size: $font_size_M;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: $list_height_M / 2 - ($font_size_M / 2);
  }

.home-menu::before,
.home-menu::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}

.home-menu,
.home-menu::before,
.home-menu::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .4s;
  transition: all .4s;
}
