@import "./application.scss";
// ================================
// ヘッダー
// ================================
header {
  position: fixed;
  top: 0px;
  max-height: $header_height;
  z-index: 999;
  width: 100%;
  padding-top: 4px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  top: -100px;
  padding-bottom: 4px;
  font-family: "Montserrat", sans-serif;
  &.sticky {
    background-color: rgba($back_color, $back_opacity);
    opacity: 1;
    top: 0px;
    z-index: 999;
  }
  .head-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      margin: 5px;
      width: 240px;
      font-weight: normal;
      padding: 10px 0;
      img {
        width: 100%;
      }
    }
  }
}
// ================================
// ハンバーガーメニューのアニメーション
// ================================
.js-click-animation {
  position: relative;
  width: 50px;
  height: 44px;
  margin: 20px;
  span {
    transition: all .4s;
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 4px;
    background-color: $point_color;
    &:nth-of-type(1) {
      top: 0;
    }
    &:nth-of-type(2) {
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
    &:nth-of-type(3) {
      bottom: 0;
    }
  }
  &.active span {
    &:nth-of-type(1) {
      transform: translateY(20px) rotate(-315deg) scale(.8);
    }
    &:nth-of-type(2) {
      width: 60px;
      height: 60px;
      background-color: transparent;
      border: 4px solid $point_color;
      border-radius: 50%;
    }
    &:nth-of-type(3) {
      transform: translateY(-20px) rotate(315deg) scale(.8);
    }
  }
}
@include tab {
  .h1 {
    width: 230px;
  }
}
@include pc {
  .h1 {
    margin: 5px;
  }
  .js-click-animation {
    display: none;
  }
}
// ================================
// アコーディオンメニュー
// ================================
.home-menu-container{
  width: 100%;
  position: fixed;
  top: $header_height;
  z-index: 80;
  transition: all 1.2s;
  background-color: rgba($back_color, $back_opacity);
  max-height: 0px;
  overflow: hidden;
  &.open {
    max-height: 450px;
  }
  .home-menu-item {
    height: $list_height_M;
    display: flex;
    justify-content: center;
    border-top: #999 solid 1px;
    &:hover {
      background-color: darken($back_color, $darken);
    }
    &:last-of-type {
      border-bottom: #999 solid 1px;
    }
    a {
      width: 100%;
      letter-spacing: $list_letterSpace_M;
      color: $font_color;
      font-size: $font_size_M;
      text-align: center;
      padding-top: $list_height_M / 2 - ($font_size_M / 2);
    }
    // ================================
    // ホバーアニメーション
    // ================================
    &::before,
    &::after {
      position: absolute;
      z-index: -1;
      display: block;
      content: '';
    }
    &,
    &::before,
    &::after {
      -webkit-transition: all .4s;
      transition: all .4s;
    }
  }
}
// ================================
// トップ画像
// ================================
@keyframes anime {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
    transform: scale(1.08);
    z-index: 9;
  }
  100% {
    opacity: 0
  }
}
@mixin image_slide($number) {
  background: url("/images/home_top_slide" + $number + ".jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  height: 100%;
  z-index:20 - $number;
  opacity: 0;
  width: 100%;
  height: 650px;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  animation-iteration-count: infinite;
  animation: anime 36s 0s infinite;

}
.top_image_box {
  background-color: grey;
  min-height: 650px;
  position: relative;
  overflow: hidden;
  color: #fff;
  .top_image {
    @for $i from 0 to 4 {
    &.slide#{$i} {
      @include image_slide($i);
      animation-delay:$i * 6s;
    }
    // &.slide+$i {
    //   @include image_slide($i);
    //   animation-delay: $i * 6s;
    // }
  }

    // &.slide1 {
    //   @include image_slide(1);
    // }
    // &.slide2 {
    //   @include image_slide(2);
    //  -webkit-animation-delay: 6s;
    //  animation-delay: 6s;
    // }
  }
  .text{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    margin-left: 0px;
    z-index: 900;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      opacity: 0.6;
      &.sub-title {
        display: block;
        font-size: 25px;
        color: white;
        border-bottom: 2px solid white;
        padding-bottom: 12px;
        line-height: 3;
      }
      &.title {
        font-size: 50px;
        line-height: 1.3;
        font-family: "Hiragino Mincho Pro";

      }
    }
  }
  .mouse {
    display: block;
    margin: 0 auto;
    width: 26px;
    height: 46px;
    border-radius: 13px;
    border: 2px solid white;
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -26px;
    z-index: 999;
    span {
      display: block;
      margin: 6px auto;
      width: 2px;
      height: 2px;
      border-radius: 4px;
      background: white;
      border: 1px solid transparent;
      animation-duration: 1s;
      animation-fill-mode: both;
      animation-iteration-count: infinite;
      animation-name: scroll;
      z-index: 999;
    }
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}
